<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <button type="button" class="btn btn-primary" id="location-dialog">Checking Your Location...Getting IP</button>
    <label for="basic-url">Your Current IP: </label>
    <button class="btn btn-primary" id="IP"></button>
    <script>
    async function ipRefresher(){
        const locbutton = document.querySelector('#location-dialog');

        try {
                    const loc = await fetch('https://loc-service.onrender.com/sample');
            const response = await loc.json();
        if(response){
            console.log(response);
            if(response.Message==='ok'){
                locbutton.className = 'btn btn-success';
                locbutton.innerHTML = '<h4>approved</h4>';
                document.querySelector('#IP').innerHTML = `<h4>${response.ip}</h4>`;
            }
            else{
            locbutton.className = 'btn btn-danger';
                locbutton.innerHTML = '<h4>Unapproved Location</h4>';
                document.querySelector('#IP').innerHTML = `nil`;
        }
        }   
        } catch (error) {
            if(error){
                locbutton.className = 'btn btn-danger';
                    locbutton.innerHTML = '<h4>Unapproved Location</h4>';
                    document.querySelector('#IP').innerHTML = `nil`;              
            }
        }
    }
    setInterval(ipRefresher,20);
    </script>
</body>
</html>